page-about {

}

.email{
	font-size: 0.8em;
	color: #4C4C4C;
	display: block;
}

.desc{
	font-size: 0.8em;
	color: #4C4C4C;
	display: block;
}

.label_equipe{
	font-size: 1.2em;
	font-weight: bold;
}

.titulo_projeto{
	word-wrap: break-word;
	width: 100%;
	font-size: 0.8em;
}

.sub_projeto{
	font-size: 0.8em;
	color: #4C4C4C;
	display: block;
}