<ion-header>

  <ion-toolbar>
    <ion-buttons start left>
      <button ion-button icon-only menuToggle left>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Inspeções</ion-title>

    <ion-buttons end right>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab top right>
    <button ion-fab (click)="novaInspecao()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngFor="let item of currentItems"  padding>

    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>{{item.soldador}}</h2>
      <p>{{item.dataInspecao}}</p>
    </ion-item>
    <img [src]="pathForImage(item.foto)" alt="" (click)="abrirDetalhes(item)">

    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="clipboard"></ion-icon>
      </ion-avatar>
      <h2>{{item.inspetor}}</h2>
      <ion-avatar item-end>
        <ion-icon name="thumbs-up" *ngIf="item.aprovado"></ion-icon>
        <ion-icon name="thumbs-down" *ngIf="!item.aprovado"></ion-icon>
      </ion-avatar>

    </ion-item>
    <ion-item>

      <ion-grid>
        <ion-row>
          <ion-col width-30>
            <button color=light style="width:100%" ion-button (click)="uploadCardInspection(item)" large padding>
              <ion-icon name="cloud-upload"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-30>
            <button color=light style="width:100%" ion-button (click)="createPdf(item)" large padding>
              <ion-icon name="paper"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-30>
            <button color=light style="width:100%" ion-button (click)="deleteCardInspection(item.key)" large padding>
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>

  </ion-card>

</ion-content>